@import "src/decidim/geoman/leaflet-geoman.css";

.tabs.expanded{
  @extend .menu;

  .tabs-title{
    float: none;
  }
}

.autoComplete_wrapper > input.input-group-field{
  border-radius: 0;
}

[data-location-picker]{
  .google-map{
    z-index: 0;
  }

  .tabs{
    .dropdown.menu{
      &,
      li{
        width: 100%;
      }

      li{
        a{
          background: transparent;
        }
      }

      li.is-active{
        a{
          background: transparent;
          color: #f52727;
        }
      }

      li a::after{
        display: none;
      }
    }
  }
}
