.tabs.expanded{
  @extend .menu;

  .tabs-title{
    float: none;
  }
}

.autoComplete_wrapper > input.input-group-field{
  border-radius: 0;
}

.input-group > .autoComplete_wrapper{
  @apply inline-block w-10/12 bottom-[7px];
}

.input-group .help-text{
  @apply mt-0 left-[42px] relative;
}

[data-location-picker]{
  .google-map{
    z-index: 0;
  }

  .tabs{
    .dropdown.menu{
      &,
      li{
        width: 100%;
      }

      li{
        a{
          background: transparent;
        }
      }

      li.is-active{
        a{
          background: transparent;
          color: #f52727;
        }
      }

      li a::after{
        display: none;
      }
    }
  }
}

.locations_map_container{
  [data-decidim-map] {
    @apply aspect-[2/1];
  }
}
